<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>vue</title>
	</head>
	<body>
	t" name="" id="" value="" v-model="info" v-on:keyup.enter="add()">
		
		
		<div id="mybox">
			<p>
				<input type="text" name="" id="" value="" v-model="info" v-on:keyup.enter="add()">
			</p>
			<ul>

				<li v-for="key in todos">
					{{key}}
					<input type="button" value="×"  v-on:click="delate($index)"/>
				</li>

			</ul>
		</div>

		<script type="text/javascript" src="public/bundle.js"></script>
		
		<script type="text/javascript" src="public/bundle.js"></script>
		<script type="text/javascript" src
		<script type="text/javascript" src
		<script type="text/javascript" src
		<script type="tc
		<script type="text/javascript" src
		<script type="te
		<script type="te
		<script type="te
		<script type="te
		
		
			
		
	</body>
</html>
